Source: wsl-share-fs
Section: contrib/misc
Priority: optional
Maintainer: Alistair Young <avatar@arkane-systems.net>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/arkane-systems/wsl-share-fs
Vcs-Git: https://github.com/arkane-systems/wsl-share-fs.git
Vcs-Browser: https://github.com/arkane-systems/wsl-share-fs

Package: wsl-share-fs
Architecture: amd64
Depends: ${misc:Depends}, systemd
Description: automatically mounts the root filesystem for cross-distro sharing
 A systemd service and script which mounts the distro filesystem under /mnt/wsl,
 enabling cross-distro sharing of it under Windows Subsystem for Linux.
